<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{admin/adminbase::layout(~{::section})}">

<head>
	<meta charset="ISO-8859-1">
	<title>Insert title here</title>
</head>

<body>
	<section>
		<div class="container-fluid  mt-3">
			<div class="row">
				<div class="col-md-4 offset-md-4">
					<div class="card">
						<div class="card-header text-center fs-4 custom-bg text-white">
							<p class="fs-4 mt-2">Edit Category</p>

							<th:block th:if="${session.succMsg}">
								<p class="text-success fw-bold">[[${session.succMsg}]]</p>
								<th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
							</th:block>
							<th:block th:if="${session.errMsg}">
								<p class="text-danger fw-bold">[[${session.errMsg}]]</p>
								<th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
							</th:block>
						</div>
						<div class="card-body">
							<form action="/admin/updateCategory" method="post" enctype="multipart/form-data">
							<input type="hidden" name="id" th:value="${category.id}" />
								<div class="mb-3">
									<label for="exampleInputGround" class="form-label">Enter Ground Category</label>
									<input type="text" class="form-control" name="name" 
										th:value="${category.name}" required />
								</div>
								<div class="mb-3">
									<label>Status</label>

									<div class="form-check">
										<input class="form-check-input" type="radio"
											 th:checked="${category.isActive==true}" value="true" name="isActive"
											id="flexRadioDefault1">
										<label class="form-check-label" for="flexRadioDefault1">
											Active </label>
									</div>
									<div class="form-check">
										<input class="form-check-input" type="radio" name="isActive"
											th:checked="${category.isActive==false}" value="false"
											id="flexRadioDefault2"> <label class="form-check-label"
											for="flexRadioDefault2">
											InActive </label>
									</div>

								</div>
								<div class="mb-3">
									
									<input type="file" class="form-control" name="file" placeholder="Upload Image"
										 />
								</div>
								<div class="text-center mb-3 ">
									<img th:src="@{'/img/category_img/'+${category.imageName}}" alt="Error"
										width="400px" height="200px" />
								</div>
								<div class="text-center">
									<button class="btn btn-primary">Update Category</button>
								</div>
							</form>

						</div>

					</div>

				</div>

			</div>
		</div>
	</section>
</body>

</html>