<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{admin/adminbase::layout(~{::section})}">

<head>
	<meta charset="ISO-8859-1">
	<title>Insert title here</title>
</head>

<body>
	<section style="height: 529px;">
		<div class="container">
			<h1 class="text-center mt-4 pt-0 mb-5">Admin Dashboard</h1>
			<div class="row pt-3 mb-5">

				<!--first 4 grid-->
				<div class="col-md-4 admin">
					<a href="/admin/addground" style="text-decoration: none;">
						<div class="card card-sh">
							<div class="card-body text-center">
								<i class="fa-solid fa-square-plus fa-3x"></i>
								<p class="fs-4">Add Ground</p>
								<h4>........</h4>
							</div>
						</div>
					</a>
				</div>
				<!--end 4 grid-->
				<div class="col-md-4 admin">
					<a href="/admin/viewground" style="text-decoration: none;">
						<div class="card card-sh">
							<div class="card-body text-center">
								<i class="fa-solid fa-book-open fa-3x text-danger"></i>
								<p class="fs-4">View All Grounds</p>
								<h4>........</h4>
							</div>
						</div>
					</a>
				</div>
				<div class="col-md-4 admin">
					<a href="/admin/addandviewcategory" style="text-decoration: none;">
						<div class="card card-sh">
							<div class="card-body text-center">
								<i class="fa-solid fa-list fa-3x"></i>
								<p class="fs-4">Add Ground Category</p>
								<h4>........</h4>
							</div>
						</div>
					</a>
				</div>
									
				
				<!--admin-->
				<div class="col-md-4 mt-4 admin">
					<a href="/admin/booking" style="text-decoration: none;">
						<div class="card card-sh">
							<div class="card-body text-center">
								<i class="fa-solid fa-truck fa-3x text-warning"></i>
								<p class="fs-4">View All Booking</p>
								<h4>........</h4>
							</div>
						</div>
					</a>
				</div>
				<div class="col-md-4 mt-4 admin">
					<a href="/admin/allcustomer" style="text-decoration: none;">
						<div class="card card-sh">
							<div class="card-body text-center">
								<i class="fa-solid fa-user fa-3x"></i>
								<p class="fs-4">View All Customer</p>
								<h4>........</h4>
							</div>
						</div>
					</a>
				</div>
				<div class="col-md-4 mt-4 admin">
					<a href="/admin/review" style="text-decoration: none;">
						<div class="card card-sh">
							<div class="card-body text-center">
								<i class="fa-solid fa-star fa-3x"></i>
								<i class="fa-solid fa-star fa-3x"></i>
								<i class="fa-solid fa-star fa-3x"></i>
								<p class="fs-4">Review</p>
								<h4>........</h4>
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>
	</section>
</body>

</html>