<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{admin/adminbase::layout(~{::section})}">

<head>
	<meta charset="ISO-8859-1">
	<link rel="stylesheet" href="" th:href="@{/css/style.css}" />
	<title>View Ground Details</title>
</head>

<body>
	<!--<section style="height: 530px;">-->
	<section>
		<div class="container-fluid">
			<div class="row mt-4">
				<div class="col-md-12">
					<div class="card">
						<div class="card-header fs-4 text-center custom-bg text-white rounded">
							<p class="fs-4 pt-2">View All Grounds</p>
							
							<th:block th:if="${session.succMsg}">
								<p class="text-success fw-bold">[[${session.succMsg}]]</p>
								<th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
							</th:block>
							<th:block th:if="${session.errMsg}">
								<p class="text-danger fw-bold">[[${session.errMsg}]]</p>
								<th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
							</th:block>

						</div>
						<div class="card-body">
							
							<table class="table table-hover">
								<thead>
									<tr>
										<th scope="col">Ground</th>
										<th scope="col">Name</th>
										<th scope="col" class="description-column">Description</th>
										<th scope="col">Ground Width</th>
										<th scope="col">Ground Height</th>
										<th scope="col">Ground Length</th>
										<th scope="col">Price</th>
										<th scope="col">Status</th>
										<th scope="col">Category</th>
										<th scope="col">Action</th>
									</tr>
								</thead>
								<tbody>

									<tr th:each="gr,g:${grounds}">
										<td><img th:src="@{'/img/ground_img/' + ${gr.image}}"
										width="140px" height="110px" /></td>
										<td>[[${gr.name}]]</td>
										<td>[[${gr.description}]]</td>
										<td>[[${gr.width}]]</td>
										<td>[[${gr.height}]]</td>
										<td>[[${gr.length}]]</td>
										<td>[[${gr.price}]]</td>
										<td>[[${gr.isActive}]]</td>
										<td>[[${gr.category}]]</td>
										
									
										<td>
											<a th:href="@{'/admin/editGround/'+ ${gr.id}}" class="btn btn-primary btn-sm"><i
													class="fa-solid fa-pen-to-square "></i>Edit</a>
											<a th:href="@{'/admin/deleteGround/'+ ${gr.id}}" class="btn btn-danger btn-sm"><i class="fa-solid fa-trash "></i>
												Delete</a>
											
										</td>
									</tr>

								</tbody>
							</table>


						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>

</html>