<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<section id="abt-us" class="about-section">
        <div class="container">
            <div class="row">
                <h2 class="section-heading mb-5 text-success text-center">
                    About Us
                </h2>

                <div class="col-lg-6">
                    <img src="img/about-image.jpg" class="img-fluid" alt="About Us Image" />
                </div>
                <div class="col-lg-6">
                    <p class="section-text">
                        At MatchSpot, we're passionate about sports and recreation. Our
                        mission is to provide sports clubs and enthusiasts with a seamless
                        platform to book turfs and facilities hassle-free. With our
                        user-friendly app, you can explore and book the best turfs for
                        your favorite sports.
                    </p>
                    <p class="section-text">
                        Our team is dedicated to ensuring that you have a fantastic
                        experience every time you use MatchSpot. Whether you're a sports
                        club looking to manage bookings or an individual searching for the
                        perfect turf, MatchSpot has you covered.
                    </p>
                </div>
            </div>
        </div>
    </section>
</body>
</html>