<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}">

<head>
	<meta charset="ISO-8859-1">
	<title>Insert title here</title>
</head>

<body>
	<section>
		<div class="container-fluid">
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-6 ">
						<div class="card mt-4">
							<div class="card-header text-center fs-4 Main text-white">
								<p class="fs-4 mt-2">Make Payment</p>
								<th:block th:if="${session.succMsg}">
									<p class="text-ligth fw-bold">[[${session.succMsg}]]</p>
									<th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
								</th:block>
								<th:block th:if="${session.errMsg}">
									<p class="text-danger fw-bold">[[${session.errMsg}]]</p>
									<th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
								</th:block>

							</div>
							<div class="card-body">
								<form action="/saveBooking" method="post">
									<div class="row mb-3">
										<label for="inputEmail3" class="col-sm-2 col-form-label">
											Select Time</label>
										<div class="col-sm-8">
											<select name="slot" class="form-select">
												<option value="08:00 PM 09:00 PM">08:00 PM 09:00 PM</option>
												<option value="10:00 PM 11:00 PM">10:00 PM 11:00 PM</option>
												<option value="12:00 AM 01:00 AM">12:00 AM 01:00 AM</option>
												<option value="01:00 AM 02:00 AM">01:00 AM 02:00 AM</option>
												<option value="02:00 AM 03:00 AM">02:00 AM 03:00 AM</option>
												<option value="04:00 AM 05:00 AM">04:00 AM 05:00 AM</option>
												<option value="06:00 AM 06:00 AM">06:00 AM 06:00 AM</option>
											</select>
										</div>
									</div>
									<div class="row mb-3">
										<label for="inputEmail3" class="col-sm-2 col-form-label">Select Date</label>
										<div class="col-sm-8">
											<input type="date" name="date" class="form-control" required>
										</div>
									</div>

									<div class="row mb-3">
										<label for="inputEmail3" class="col-sm-2 col-form-label">Select Payment
											Mode</label>
										<div class="col-sm-8">
											<select name="paymentType" class="form-select">
												<option value="G-PAY">G-Pay</option>
												<option value="Paytm">Paytm</option>
											</select>
										</div>
									</div>
									<div class="row mb-3">
										<label for="inputEmail3" class="col-sm-2 col-form-label">Pay Now</label>
										<div class="col-sm-8">
											<input type="number" name="payNow" class="form-control" required>
										</div>
									</div>

									<div class="text-center">
										<button class="btn btn-success">Pay Now</button>
									</div>
								</form>

							</div>

						</div>
					</div>

					<div class="col-md-5">
						<div class="card mt-5 pt-2">
							<h4 class="text-center">We accept payments using the following :</h4>
							<div class="row justify-content-center align-items-center">
								<div class="col-md-6 col-sm-12">
									<img alt="" src="/img/google-pay.jpg" class="img-fluid" style="max-width: 80%; height: 162px;">
								</div>
								<div class="col-md-6 col-sm-12">
									<img alt="" src="/img/paytm.webp" class="img-fluid" style="max-width: 80%; height: 162px;">
								</div>
							</div>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</section>
</body>

</html>