<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}">

<head>
	<meta charset="ISO-8859-1">
	<title>Insert title here</title>
</head>

<body>
	<section style="height: 610px;">
		<div class="container-fluid mt-1">
			<div class="row">
				<div class="col-md-2 list-group-item-success">
					<p class="fs-3 text-center">
						Categories
					</p>
					<div class="list-group ">
						<a href="/grounds" th:classappend="${paramValue == ''} ? 'active' : ''"
							class="list-group-item list-group-item-action list-group-item-success" aria-current="true">
							All
						</a>
						<a th:each="c:${categories}" th:href="@{'/grounds?category='+${c.name}}"
							th:classappend="${paramValue == c.name} ? 'active' : ''"
							class="list-group-item list-group-item-action list-group-item-success">[[${c.name}]]</a>

					</div>
				</div>
				<div class="col-md-10">
					<div class="card shadow-sm p-3 mb-5 bg-body-tertiary rounded">
						<div class="card-body">
							<p class="fs-2 text-center text-success">Grounds</p>
							<div class="row">

								<th:block th:if="${grounds.size}">

									<div class="col-md-6" th:each="gr,g:${grounds}">
										<div class="card">
											<div class="card-body ">
												<img th:src="@{'/img/ground_img/'+${gr.image}}" width="100%"
													height="220px">
												<p class="fs-5 fw-bold mt-2 text-center">[[${gr.name}]]</p>
												<div class="row text-center">
													<p class="fs-5 fw-bold">
														&#8377; [[${gr.price}]] /-
														</span>
													</p>
													<a th:href="@{'/ground/'+${gr.id}}"
														class="btn btn-success col-md-6 offset-md-3">View
														Details</a>
												</div>
											</div>
										</div>
									</div>


								</th:block>
								<th:block th:unless="${grounds.size}">
									<p class="fs-3 text-center text-danger">Ground Not Aviable</p>
								</th:block>


								<!-- End  -->
							</div>

						</div>
					</div>

				</div>

			</div>

		</div>

	</section>
</body>

</html>