<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}">

<head>
	<meta charset="ISO-8859-1">
	<title>Insert title here</title>
</head>

<body>
	<section>
		<div class="container mt-1 p-4">
			<div class="row">
				<div class="col-md-6 p-5">
					<img src="img/crick.jpeg" alt="" width="100%" height="450px" />
				</div>
				<div class="col-md-5 p-5 offset-md-1">
					<div class="card shadow p-3  bg-body rounded">
						<div class="card-header Main text-center">
							<h3 class="text-white pt-1">Login </h3>
							<th:block th:if="${param.error}">
								<p class="text-center text-danger fs-5">
									[[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]</p>
							</th:block>
							<th:block th:if="${param.logout}">
								<p class="text-center text-danger fs-5">Logout Sucessfully</p>
							</th:block>
						</div>
						<div class="card-body">

							<form action="user" method="post">
								<div class="mb-3">
									<label for="exampleInputEmail1" class="form-label">Email address</label>
									<input type="email" class="form-control" id="exampleInputEmail1"
										aria-describedby="emailHelp" name="username">
									<div id="emailHelp" class="form-text">We'll never share your email with anyone else.
									</div>
								</div>
								<div class="mb-3">
									<label for="exampleInputPassword1" class="form-label">Password</label>
									<input type="text" class="form-control" id="exampleInputPassword1" name="password">
								</div>
								<div class="mb-3">
									<select name="role" class="form-select">
										<option value="ROLE_USER">User</option>
										<option value="ROLE_ADMIN">Admin</option>
									</select>
								</div>

								<div class="container text-center">
									<button type="submit" class="btn btn-primary custom-bg">Submit</button>
									<button type="reset" class="btn btn-primary custom-bg">Reset</button>
								</div>
							</form>
						</div>
						<div class="card-footer text-center">
							<a href="" class="text-decoration-none">Forget Password</a><br />
							Don't have an account? <a href="/register" class="text-decoration-none">Create one</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		crossorigin="anonymous"></script>

</body>

</html>