<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{base::layout(~{::section})}">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<section>
		<div class="container card-sh" style="margin-top: 70px;margin-bottom: 100px">

			<div class="col-md-12 p-5">
				<div class="row">
					<div class="col-md-6 ">
						<img alt="" th:src="@{'/img/ground_img/'+${g.image}}" width="550px"
							height="400px">
					</div>

					<div class="col-md-6">

						<p class="fs-3 ">[[${g.name}]]</p>
						<p>
							<span class="fw-bold">Description : </span><br>
							[[${g.description}]]
						</p>
						<p>
							<span class="fw-bold"> Ground Details: </span> <br>Status :
							<span class="badge bg-success">Available</span> <span
								class="badge bg-warning">out of stock</span> <br>
								<span class="fw-bold"> Category: </span> [[${g.category}]]<br>

						</p>
						<p class="fs-5 fw-bold">
							Price :&nbsp; &nbsp; &nbsp; &nbsp;<i class="fas fa-rupee-sign"></i>
							[[${g.price}]]	/-				
						</p>
						<p>
							<span class="fw-bold"> Time Slot : </span> 10:00
						</p>
						
						<a href="/payment" class="btn btn-danger col-md-12">Book Now</a>
					</div>
				</div>
			</div>
		</div>


	</section>
</body>
</html>